---
title: Drum machine
description: An 8-bit drum machine. From Wes Bos's JavaScript30 program.
---

<% content_for :style do %>
  <style>
    body {
      padding: 0;
      margin: 0;
      background: #ffb75e;
      background: linear-gradient(to right, #ffb75e , #ed8f03);
      font-family: monospace;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    .button {
      padding: 1rem .5rem;
      margin: 1rem;
      width: 80px;
      min-height: 80px;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      border: 4px solid black;
      border-radius: 4px;
      text-align: center;
      text-shadow: 0 0 5px #000;
      transition: all 0.075s;
    }

    .playing {
      transform: scale(1.4);
      border-color: #5ab8e5;
      box-shadow: 0 0 10px #5ab8e5;
    }

    kbd {
      display: block;
      font-size: 40px;
    }

    .sound {
      color: #5ab8e5;
    }
  </style>
<% end %>

<div class="buttons">
  <div class="button" data-key="65">
    <kbd>A</kbd>
    <span class="sound">clap</span>
  </div>
  <div class="button" data-key="83">
    <kbd>S</kbd>
    <span class="sound">hi-hat</span>
  </div>
  <div class="button" data-key="68">
    <kbd>D</kbd>
    <span class="sound">kick</span>
  </div>
  <div class="button" data-key="70">
    <kbd>F</kbd>
    <span class="sound">open hat</span>
  </div>
  <div class="button" data-key="71">
    <kbd>G</kbd>
    <span class="sound">boom</span>
  </div>
  <div class="button" data-key="72">
    <kbd>H</kbd>
    <span class="sound">pow</span>
  </div>
  <div class="button" data-key="74">
    <kbd>J</kbd>
    <span class="sound">snare</span>
  </div>
  <div class="button" data-key="75">
    <kbd>K</kbd>
    <span class="sound">boop</span>
  </div>
  <div class="button" data-key="76">
    <kbd>L</kbd>
    <span class="sound">pew</span>
  </div>
</div>

<audio src="sounds/clap.wav" data-key="65"></audio>
<audio src="sounds/hi-hat.wav" data-key="83"></audio>
<audio src="sounds/kick.wav" data-key="68"></audio>
<audio src="sounds/open-hat.wav" data-key="70"></audio>
<audio src="sounds/boom.wav" data-key="71"></audio>
<audio src="sounds/pow.wav" data-key="72"></audio>
<audio src="sounds/snare.wav" data-key="74"></audio>
<audio src="sounds/boop.wav" data-key="75"></audio>
<audio src="sounds/pew.wav" data-key="76"></audio>

<script>
  window.addEventListener('keydown', playSound);

  const buttons = document.querySelectorAll('.button');
  buttons.forEach(button => button.addEventListener('transitionend', removeTransition));

  function playSound(e) {
    const audio = document.querySelector(`audio[data-key="${e.keyCode}"]`)
    const button = document.querySelector(`.button[data-key="${e.keyCode}"]`)

    if (!audio) return; // Return if invalid key
    audio.currentTime = 0; // Rewind to the start of the sample
    audio.play();

    button.classList.add('playing');
  }

  function removeTransition(e) {
    if (e.propertyName != 'transform') return; // Only check the transform property
    this.classList.remove('playing');
  }
</script>
