---
title: Be right back
description: A 'be right back' excuse generator for use on Twitch streams.
---

<% content_for :style do %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Patua+One');

    :root {
      --background: #212121;
      --shadow:     #121212;
      --text:       #fafafa;
      --subtle:     #888888;
      --highlight:  #ec407a;
    }

    body {
      display: flex;
      padding: 0;
      margin: 0;
      min-height: 100vh;
      line-height: 1.5;
      font-family: 'Patua One', sans-serif;
      color: var(--text);
      text-align: center;
      background: var(--background);
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    p {
      margin: 0;
    }

    .message-container {
      font-size: 10vmin;
    }

    .brb {
      font-size: 6vmin;
    }

    .message {
      margin: 0 10vmin;
      font-style: italic;
      color: var(--highlight);
      text-shadow: var(--shadow) 0 0.6vmin;
      animation-duration: 3.5s;
    }

    .message-container:after {
      display: block;
      margin: 20px auto;
      width: 400px;
      height: 3px;
      background: var(--subtle);
      content: '';
    }

    .timer {
      font-size: 3vmin;
      font-weight: normal;
    }
  </style>
<% end %>

<div class="message-container">
  <p class="brb">Be right back…</p>
  <p class="message animated bounce infinite"></p>
</div>

<p class="timer">I've been away for <span class="minutes">0</span> <span class="minutes-text">minutes</span></p>

<script>
  var messages = [
    'bathroom break',
    'cat on keyboard',
    'doing laundry',
    'need coffee',
    'scratching an itch',
    'stretching my legs',
    'taking out the trash',
    'toxic ooze spill',
    'unplugged by mistake',
    'washing dishes'
  ];

  var highlightColours = [
    '#42a5f5',
    '#5c6bc0',
    '#7e57c2',
    '#ab47bc',
    '#ec407a',
    '#ef5350',
    '#ff7043',
  ];

  var minutes = 0;
  var minutesText = document.querySelector('.minutes-text');

  function sample(array) {
    return array[Math.floor(Math.random() * array.length)];
  }

  function newMessage() {
    // Select a random highlight colour
    document.documentElement.style.setProperty('--highlight', sample(highlightColours));

    // Choose a random message
    var message = sample(messages);

    // Show the message
    document.querySelector('.message').innerHTML = message;
    document.title = `Be right back, ${ message }`;
  }

  function increaseMinutes() {
    minutes += 1;
    document.querySelector('.minutes').innerHTML = minutes;

    if (minutes === 1) {
      minutesText.innerHTML = 'minute';
    } else {
      minutesText.innerHTML = 'minutes';
    }
  }

  // Show a message on page load
  document.addEventListener('DOMContentLoaded', function() {
    newMessage();
  });

  setInterval(newMessage, 120000);
  setInterval(increaseMinutes, 60000);
</script>
