////
/// Articles
////

article,
.article {
  > {
    p,
    ul,
    ol,
    blockquote,
    table,
    pre {
      margin-top: 0;
      margin-bottom: $space;
    }

    h1,
    .heading-1 {
      margin-top: $space * $scale-factor * $scale-factor * $scale-factor;
      margin-bottom: $space * $scale-factor;
    }

    h2,
    .heading-2 {
      margin-top: $space * $scale-factor * $scale-factor;
      margin-bottom: $space;
    }

    h3,
    .heading-3 {
      margin-top: $space * $scale-factor;
      margin-bottom: $space;
    }

    h4,
    .heading-4 {
      margin-top: $space;
      margin-bottom: $space;
    }

    ul ul,
    ol ol,
    ul ol,
    ol ul {
      margin-top: 0;
      margin-bottom: 0;
    }

    blockquote {
      padding: $space / $scale-factor;
      margin: $space 0;
      font-family: $font-serif;
      font-size: $font-size-base * 1.1;
      font-style: italic;
      color: lighten($color-text, 20);
      border-left: $color-text solid 0.4rem;
      border-image: linear-gradient(to right, desaturate($color-primary, 20), desaturate($color-secondary, 20));
      border-image-slice: 1;
  
      p:last-child {
        margin: 0;
      }
    }
  }
}
