////
/// Social links
////

.social-links {
  svg {
    width: $space * $scale-factor * $scale-factor;
    fill: $color-primary;
    transition: all $transition;
    transform: scale(0.7);
  }

  a:hover svg {
    fill: lighten($color-secondary, 10);
    transform: scale(0.8);
  }

  a,
  a:hover {
    border: 0;
  }
}
