---
title: Clock
description: A CSS and JavaScript analog clock. From Wes Bos's JavaScript30 program.
---

<% content_for :style do %>
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      padding: 0;
      margin: 0;
      font-family: sans-serif;
      font-size: 1.2rem;
      color: #fff;
      background: #1D2B64;
      background: linear-gradient(to left, #1d2b64 , #f8cdda);
    }

    .clock {
      width: 20rem;
      height: 20rem;
      border: #fff solid 16px;
      border-radius: 50%;
    }

    .clock-face {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-4px);
    }

    .label { position: absolute }

    .indicator {
      position: absolute;
      top: 50%;
      width: 50%;
      height: 2px;
      background: linear-gradient(to left, rgba(1, 1, 1, 0) 75%, #fff 75%, #fff 90%, rgba(1, 1, 1, 0) 90%);
      opacity: 0.5;
      transform-origin: 100%;
    }

    .twelve {
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
    }

    .one { transform: rotate(120deg) }
    .two { transform: rotate(150deg) }

    .three {
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
    }

    .four { transform: rotate(210deg) }
    .five { transform: rotate(240deg) }

    .six {
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
    }

    .seven { transform: rotate(300deg) }
    .eight { transform: rotate(330deg) }

    .nine {
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
    }

    .ten { transform: rotate(30deg) }
    .eleven { transform: rotate(60deg) }

    .hand {
      position: absolute;
      top: 50%;
      width: 50%;
      background: #1d2b64;
      border-radius: 20%;
      transform: rotate(90deg);
      transform-origin: 100%;
      transition: all 0.1s;
      transition-timing-function: cubic-bezier(0.4, 1.8, 0.25, 1)
    }

    .second {
      z-index: 1;
      height: 2px;
      background: #f8cdda;
    }

    .minute {
      z-index: 2;
      height: 4px;
    }

    .hour {
      z-index: 3;
      height: 8px;
    }
  </style>
<% end %>

<div class="clock">
  <div class="clock-face">
    <div class="hour hand"></div>
    <div class="minute hand"></div>
    <div class="second hand"></div>

    <div class="twelve label">12</div>
    <div class="one indicator"></div>
    <div class="two indicator"></div>
    <div class="three label">3</div>
    <div class="four indicator"></div>
    <div class="five indicator"></div>
    <div class="six label">6</div>
    <div class="seven indicator"></div>
    <div class="eight indicator"></div>
    <div class="nine label">9</div>
    <div class="ten indicator"></div>
    <div class="eleven indicator"></div>
  </div>
</div>

<script>
  const secondHand = document.querySelector('.second.hand');
  const minuteHand = document.querySelector('.minute.hand');
  const hourHand = document.querySelector('.hour.hand');

  function setDate() {
    const now = new Date();

    const seconds = now.getSeconds();
    const secondsDegrees = ((seconds / 60) * 360) + 90;
    secondHand.style.transform = `rotate(${secondsDegrees}deg)`;

    const minutes = now.getMinutes();
    const minutesDegrees = ((minutes / 60) * 360) + 90;
    minuteHand.style.transform = `rotate(${minutesDegrees}deg)`;

    const hours = now.getHours();
    const hoursDegrees = ((hours / 12) * 360) + 90;
    hourHand.style.transform = `rotate(${hoursDegrees}deg)`;
  }

  document.addEventListener('DOMContentLoaded', setDate());

  setInterval(setDate, 1000);
</script>
