@import 'abstracts/variables';

@import url('https://fonts.googleapis.com/css?family=Glegoo');

////
/// Slides (reveal.js theme)
////

$font-size-base:    45px;
$line-height-base:   1.4;
$line-height-tight:  1.2;
$scale-factor:       1.5;

$color-highlight: #d09d26;

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $color-background;
}

.reveal {
  line-height: $line-height-base;
  font-size: $font-size-base;
  font-family: $font-sans;
  color: $color-text;

  h1,
  h2,
  h3,
  h4 {
    line-height: $line-height-tight;
    font-family: Glegoo, sans-serif;
    word-wrap: break-word;
  }

  h1 {
    margin-bottom: $space;
    font-size: $font-size-base * $scale-factor * $scale-factor * $scale-factor;
  }

  h2 {
    margin-bottom: $space * $scale-factor * $scale-factor;
    font-size: $font-size-base * $scale-factor * $scale-factor;
  }

  h3 {
    margin-bottom: $space * $scale-factor;
    font-size: $font-size-base * $scale-factor;
  }

  h4 {
    margin-bottom: $space;
    font-size: $font-size-base;
    font-weight: bold;
  }

  p,
  ul,
  ol {
    font-size: $font-size-base;
    margin-bottom: $space;
    text-align: left;
  }

  li {
    margin-bottom: $space / $scale-factor;
  }

  a {
    border-bottom: .4rem solid mix($color-primary, $color-background, 33);
    color: inherit;
    text-decoration: none;
    transition: all $transition;

    &:hover {
      border-bottom-color: mix($color-primary, $color-background, 80);
    }
  }

  img {
    display: block;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
  }

  img, video, iframe {
    max-width:  80%;
    max-height: 80%;
  }

  strong, b {
    font-weight: bold;
  }

  em {
    color: $color-highlight;
  }

  blockquote {
    padding-left: $space;
    border-left: 0.4rem solid $color-highlight;
    font-style: italic;
  }

  .controls {
    .navigate-left {
      border-right-color: $color-primary;
    }

    .navigate-right {
      border-left-color: $color-primary;
    }

    .navigate-up,
    .navigate-down {
      display: none;
    }
  }

  .progress span {
    background: $color-primary;
  }

  .center {
    text-align: center;
  }
}
