////
/// Posts
////

.post-link-date {
  display: inline-block;
  min-width: $space * 3;
  color: $color-subdued;
}

.post-metadata {
  margin-bottom: $space * 2;
}

.post-title {
  margin-top: $space;
  margin-bottom: $space / 2;
}

.post-date {
  font-size: $font-size-base * 0.9;
  color: desaturate($color-primary, 10);
}

.post-description {
  font-size: $font-size-base * 0.8;
  color: $color-subdued;
}

.post-series {
  font-size: $font-size-base * 0.85;
  color: $color-subdued;
}

.author-bio {
  padding: $space * $scale-factor;
  margin: ($space * 2) 0;
  color: $color-subdued;
  border-top: lighten($color-text, 30) solid 0.2rem;
  border-image: linear-gradient(to right, lighten($color-primary, 30), lighten($color-secondary, 30));
  border-image-slice: 1;

  p {
    margin-bottom: ($space / 2);
  }

  .author-image {
    margin-right: $space;
    float: left;
    border-radius: 50%;
  }

  .social-links svg {
    width: $space * $scale-factor;
  }
}
