////
/// Header
////

.main-menu {
  display: flex;
  max-width: $content-width;
  padding: $space;
  margin: 0 auto;
  margin-bottom: $space;

  a {
    color: #666;
    text-decoration: none;
    border-bottom: rgba(0, 0, 0, 0) solid 0.2rem;
    transition: all $transition;

    &:hover {
      border-bottom: $color-primary solid 0.2rem;
    }
  }

  ul {
    display: flex;
    flex-grow: 1;
    padding: 0;
    list-style: none;
  }

  li {
    flex: 1;
    padding-right: $space;
  }

  .social-links svg {
    width: $space;
  }
}

@media screen and (max-width: 720px) {
  .main-menu {
    display: block;
    margin-bottom: 0;

    ul {
      display: block;
      text-align: center;
    }
    
    .social-links {
      display: none;
    }
  }
}
