////
/// Main
////

main,
.main {
  // Main links
  a {
    color: inherit;
    text-decoration: none;
    border-bottom: lighten($color-primary, 30) solid 2px;
    transition: all $transition;

    &:hover {
      color: $color-primary;
      border-bottom: mix($color-primary, $color-background, 15) solid 2px;
    }
  }
}
