<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= current_page.data.title || data.site.title %><%- if current_page.data.title != data.site.title -%> · <%= data.site.title %><%- end -%></title>

    <meta name="description" content="<%= current_page.data.description || data.site.description %>">
    <meta name="author" content="<%= data.site.author %>">

    <% if current_page.data[:hide] %>
    <meta name="robots" content="noindex, nofollow">
    <% else %>
    <meta name="robots" content="index, follow">
    <% end %>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <%= yield_content :stylesheets %>
    <link rel="icon" type="image/png" href="/assets/images/favicon-64x.png" sizes="64x64">
    <link rel="icon" type="image/png" href="/assets/images/favicon-32x.png" sizes="32x32">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <meta property="og:site_name" content="<%= data.site.title %>">
    <% if current_page.options[:layout] == :post %>
    <meta property="og:type" content="article">
    <% end %>
    <meta property="og:url" content="<%= current_page.url.prepend(data.site.url) %>">
    <meta property="og:title" content="<%= current_page.data.title || data.site.title %>">
    <meta property="og:description" content="<%= current_page.data.description || data.site.description %>">
    <% if current_page.data.image %>
    <meta property="og:image" content="">
    <% end %>

    <meta name="twitter:site" content="@admhlt">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="<%= current_page.url.prepend(data.site.url) %>">
    <meta name="twitter:title" content="<%= current_page.data.title || data.site.title %>">
    <meta name="twitter:description" content="<%= current_page.data.description || data.site.description %>">
    <% if current_page.data.image %>
    <meta name="twitter:image" content="">
    <% end %>

    <%= yield_content :style %>
    <%= yield_content :head_scripts %>
    <script>
      <%= sprockets.find_asset('vendor/google-analytics.js').to_s %>
    </script>
  </head>

  <body>
    <%= yield %>
    <%= yield_content :body_scripts %>
  </body>
</html>
