<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'https://bones.netlify.com/bones.css' %>
  <%= stylesheet_link_tag :site %>
<% end %>

<% content_for :body_scripts do %>
  <%= javascript_include_tag 'site', type: 'text/javascript' %>
<% end %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial 'partials/head' %>
  </head>

  <body>

    <%= partial 'partials/header' %>

    <div class="container">
      <main class="main">
        <%= yield %>
      </main>
    </div>

    <%= yield_content :body_scripts %>
  </body>
</html>
