<% wrap_layout :layout do %>
  <%
    article_classes = []
    article_classes << current_page.options[:layout] if current_page.options[:layout]
  %>
  
  <article class="<%= article_classes.join(' ') %>">

    <div class="post-metadata">
      <%= content_tag :p, current_page.date.strftime('%b %e %Y'), class: 'post-date heading-4' %>
      <%= content_tag :h1, current_page.data.title, class: 'post-title' %>
      <% if current_page.data.series %>
        <p class="post-series">Part of <em><%= content_tag :span, current_page.data.series %></em></p>
      <% end %>
      <%= content_tag :p, current_page.data.description, class: 'post-description' if current_page.data.description %>
    </div>

    <%= yield %>

  </article>

  <%= partial 'partials/author-bio' %>

<% end %>
