<% wrap_layout :blank do %>

  <% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/css/reveal.min.css' %>
    <% if current_page.data.theme %>
      <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/css/theme/#{current_page.data.theme}.min.css" %>
    <% else %>
      <%= stylesheet_link_tag :slides %>
    <% end %>

  <% end %>

  <% content_for :style do %>
    <style>
      .whiteboard {
        background: none;
        border: none;
        font-family: sans-serif;
        font-size: 1em;
        color: #fff;
      }
    </style>
  <% end %>

  <%
    slide_separator     = '<hr />'
    notes_separator     = '<p>Notes:</p>'
    sub_slide_separator = '<p>~~</p>'

    slides = yield.split slide_separator
  %>

  <div class="reveal">
    <div class="slides">

      <section>
        <h1><%= current_page.data.title %></h1>
      </section>

      <% slides.each do |slide| %>

        <section>

          <% if slide.include? sub_slide_separator %>
            <% sub_slides = slide.split sub_slide_separator %>
            <% sub_slides.each do |sub_slide| %>

              <section>
                <% if sub_slide.include? notes_separator %>
                  <% sub_slide_content = sub_slide.split(notes_separator).first %>
                  <% sub_notes_content = sub_slide.split(notes_separator).last  %>
                  <%= sub_slide_content %>
                  <aside class="notes">
                    <%= sub_notes_content %>
                  </aside>
                <% else %>
                  <%= sub_slide %>
                <% end %>
              </section>

            <% end %>

          <% else %>

            <% if slide.include? notes_separator %>
              <% slide_content = slide.split(notes_separator).first %>
              <% notes_content = slide.split(notes_separator).last  %>
              <%= slide_content %>
              <aside class="notes">
                <%= notes_content %>
              </aside>
            <% else %>
              <%= slide %>
            <% end %>
          <% end %>

        </section>

      <% end %>
    </div>
  </div>

  <% content_for :body_scripts do %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0/js/reveal.min.js' %>
    <script>
      Reveal.initialize({
        history: true,
        slideNumber: true,
        transition: 'fade',
        transitionSpeed: 'fast',
        margin: 0.11,
      });
    </script>
  <% end %>

<% end %>
