---
title: Posts
layout: page
---

<% blog.articles.each do |article| %>
  <p class="heading-3">
    <span class="post-link-date" title="<%= article.date.strftime('%B %d, %Y') %>">
      <%= article.date.strftime('%b %d') %>
    </span>
    <a href="<%= article.url %>">
      <% if article.data.series %>
        <em><%= article.data.series %></em>:
      <% end %>
      <%= article.title %>
    </a>
  </p>
<% end %>
