---
layout: blank
title: UX and Usability slides hub
---

<% content_for :style do %>
  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 100vh;
      padding: 0;
      margin: 0;
      font-family: sans-serif;
      font-size: 2rem;
    }

    a {
      color: inherit;
      text-decoration: none;
      border-bottom: #89253e solid 2px;
      transition: all 100ms;
    }

    a:hover {
      color: #89253e;
      border-bottom: #fff solid 2px;
    }

    p {
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  </style>
<% end %>

<% sitemap.resources
    .select{ |i| i.url.start_with?('/ux/') && i.options[:layout] == :slides }
    .sort{ |a,b| a.data[:week] <=> b.data[:week] }
    .each do |deck| %>
  <p><a href="<%= deck.url %>"><%= deck.data.title %></a></p>
<% end %>
