////
/// Base
////

// Box sizing
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  max-width: initial;
  color: $color-text;
  background: $color-background;

  &:before {
    display: block;
    border-image: linear-gradient(to right, $color-primary, $color-secondary);
    border-image-slice: 1;
    border-style: solid;
    border-width: 10px;
    content: '';
  }
}

img {
  max-width: 100%;
}

code {
  display: inline-block;
  padding: 0.25rem;
  border-radius: 3px;
  background: darken($color-background, 5)
}

pre code {
  background: none;
}

hr {
  margin-top: $space * 2;
  margin-bottom: $space * 2;
  width: 90%;
  border: 1px solid #ddd;
}
