////
/// Figures
////

figure,
.figure {
  margin: 0;
  margin-bottom: $space;
  text-align: center;

  img,
  iframe {
    border: 0;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}

figcaption {
  font-size: $font-size-base * 0.9;
}
