////
/// Typography
////

html {
  font-size: 62.5%;
  font-family: $font-sans;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: $font-size-base;
}

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4 {
  margin: 0;
  line-height: $line-height-tight;
  font-weight: 300;
  color: $color-heading;
}

h1,
.heading-1 {
  font-size: $font-size-base * $scale-factor * $scale-factor * $scale-factor;
}

h2,
.heading-2 {
  font-size: $font-size-base * $scale-factor * $scale-factor;
}

h3,
.heading-3 {
  font-size: $font-size-base * $scale-factor;
}

h4,
.heading-4 {
  font-size: $font-size-base;
}

code,
pre {
  font-size: $font-size-base * 0.9;
  font-family: $font-mono;
}

a,
b,
i,
strong,
em,
small,
code {
  line-height: $line-height-tight;
}

@media screen and (max-width: 720px) {
  html {
    font-size: 60%;
  }
}
