.author-bio
  = image_tag 'me-thumb.jpg', width: 150, class: 'author-image', alt: "Adam Hollett's face against a dark wood background"

  markdown:
    Adam Hollett is a developer and technical writer at [Shopify](https://www.shopify.com) in Ottawa, Ontario.

  = partial 'partials/social-links'
