meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge"
meta name="viewport" content="width=device-width, initial-scale=1"

- meta_title = [current_page.data.title || data.site.title]
- meta_title << '·' << data.site.title if current_page.data.title != data.site.title
- meta_title = meta_title.join(' ')
- meta_url = data.site.url + current_page.url
- meta_description = current_page.data.description || data.site.description
- meta_author = current_page.data.author || data.site.author
- meta_robots = current_page.data[:hide] ? 'noindex, nofollow' : 'index, follow'

title = meta_title

meta name="description"                  content = meta_description
meta name="author"                       content = meta_author
meta name="robots"                       content = meta_robots
meta name="mobile-web-app-capable"       content="yes"
meta name="apple-mobile-web-app-capable" content="yes"

= yield_content :stylesheets
- [64, 32].each do |size|
  = favicon_tag "favicon-#{size}x.png"
link rel="canonical" href = meta_url

meta property="og:site_name"             content = data.site.title
meta property="og:url"                   content = meta_url
meta property="og:title"                 content = current_page.data.title
meta property="og:description"           content = meta_description
meta property="og:type"                  content="website"
meta property="og:locale"                content="en"
= tag :meta, property: 'og:image',       content: current_page.data.image if current_page.data.image

meta name="twitter:site"                 content = data.site.title
meta name="twitter:title"                content = current_page.data.title
meta name="twitter:description"          content = meta_description
meta name="twitter:creator"              content = meta_author
meta name="twitter:card"                 content="summary"
= tag :meta, name: 'twitter:image',      content: current_page.data.image if current_page.data.image

= yield_content :style

= javascript_include_tag 'https://www.googletagmanager.com/gtag/js?id=UA-49108837-2', async: true
script
  = sprockets.find_asset('head.js').to_s

= yield_content :head_scripts
