header
  nav.main-menu
    ul
      li = link_to 'Home',    '/'
      li = link_to 'Posts',   '/posts'
      / li = link_to 'Projects',   '/projects'
      li = link_to 'Sandbox', '/sandbox'
      li = link_to 'About',   '/about'
      = partial 'partials/social-links'
