.social-links
  a href='https://twitter.com/admhlt' target='_blank' rel='noopener, noreferrer'
    = partial 'assets/images/social/twitter.svg'
  a href='https://github.com/adamhollett' target='_blank' rel='noopener, noreferrer'
    = partial 'assets/images/social/github.svg'
  a href='https://ca.linkedin.com/in/adamhollett' target='_blank' rel='noopener, noreferrer'
    = partial 'assets/images/social/linkedin.svg'
  a href='https://www.twitch.tv/nockney' target='_blank' rel='noopener, noreferrer'
    = partial 'assets/images/social/twitch.svg'
