////
/// Variables
////

///
/// Sizes and spaces

$font-size-base:   2rem;
$line-height-base:  1.6;
$scale-factor:    1.333;

$line-height-tight: 1.2;

$space: $font-size-base * $line-height-base;

$content-width: $space * 30;

///
/// Fonts

$font-sans:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$font-serif: 'Georgia', 'Times', 'Tinos', 'Times New Roman', serif;
$font-mono:  'Menlo', 'Monaco', 'Consolas', 'Lucida Console', monospace;

///
/// Colors

$white: rgb(255, 255, 255);
$chalk: rgb(230, 230, 230);
$ash:   rgb(200, 200, 200);

$color-primary:    #0083b0;
$color-secondary:  #00b4db;

$color-text:       rgba( 50,  50,  50, 1);
$color-background: mix($color-primary, $white, 5);
$color-heading:    lighten($color-text, 10);
$color-subdued:    mix($color-text, $color-background, 60);
$color-code:       lighten($color-text, 10);

///
/// Borders

$border-radius: 0.5rem;

///
/// Shadows

$box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);

///
/// Transitions

$transition: 125ms ease;
