---
title: Sandbox
description: Some front-end experiments.
---

<p>Here are some of the things I've built. These experiences are meant to be picked apart, so feel free to view the source code to see how each one works.</p>

<ul>
  <% sitemap.resources.select{ |p| p.url.include?('sandbox') && p.options[:layout] == :blank }.reject{ |p| p.data[:hide] == true }.each do |page| %>
    <li>
      <p class="heading-3"><a href="<%= page.url %>"><%= page.data.title %></a></p>
      <p><%= page.data.description %></p>
    </li>
  <% end %>
</ul>
