---
title: Adam Hollett
---

<p class="heading-3">Hi!</p>

<p>I build documentation and support tools at <a href="https://www.shopify.com">Shopify</a> in Ottawa, Ontario. I <a href="https://github.com/adamhollett">do things with code</a> and occasionally <%= link_to 'blog', '/posts' %>. I also <a href="https://www.twitch.tv/nockney">stream on Twitch</a>.</p>

<%= partial 'partials/social-links' %>
